{% macro render_field(field) %}
<tr >
  <td style="text-align:right;padding:8px">
    {{ field.label }}
  </td>
  <td>
    {{ field(**kwargs)|safe }}
  </td>
</tr>
  {% if field.errors %}
    <tr>
      <td colspan="2" align="center">
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </td>
    </tr>
  {% endif %}
{% endmacro %}