<!doctype html>
{% block head %}
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}VHS Kassetten digitalisieren</title>
  </head>
  {% endblock %}
  {% block header %}
  <body>
    <table width="100%">

      <tr>
        <td width="50px">
          <img  src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="Kibuso" width="50" height="50"/>
        </td>
        <td>
            <a class="ui" href="{{ url_for('index') }}">
              Home
            </a>
        </td>
        <td style="text-align:right;">
          <a class="ui" href="{{ url_for('login') }}">
            Log in
          </a>
        </td>
      </tr>
      {% endblock %}
      {% block content %}
      <tr height="50px">
        <td>

        </td>
      </tr>
      <tr>
        <td colspan="3">
          <center>
            <table width="500px">
              <tr>
                <td>
                  <p>
                    Digitalisieren Sie Ihre VHS-Kassetten.
                  </p>
                  <p>
                    Es ist faszinierend und teilweise auch peinlich sich selbst auf alten Aufnahmen, aus lang vergangener Zeit, zu sehen. Auf jeden Fall bleiben die alten VHS-Aufnahmen für die Ewigkeit, wenn sie digitalisiert sind.
                  </p>
                  <p>
                    Sie schicken uns Ihre Video Kassette(n), wird digitalisieren die Aufnahme und schicken Ihnen einen Link per Email, wo Sie die Aufnahmen herunterladen können. Auf diesen Link können nur Sie zugreifen.
                  </p>
                  <p>
                    Bei uns bezahlen Sie 6,95 € pro max. 4 Stunden Kassette.
                  </p>
                  <p>
                    Wenn Sie die Kassette wieder haben wollen, kostet das 5 € Versandkosten pro Kassette. Sonst können wir die Kassette entsorgen.
                  </p>
                  <p>
                    Ihre Video Kassette darf nicht beschädigt sein. Wie übernehmen keine Haftung für Ihre Video Kassette.
                  </p>
                  <p>
                    Ihr vhs-kassette-digitalisieren.de Team
                  </p>
                  <p style="text-align:center;padding:10px;">
                    <a class="ui" href="{{ url_for('login') }}">
                      Bestellen
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr height="40px">
        <td>

        </td>
      </tr>
      {% endblock %}
      {% block footer %}
      <tr>
        <td colspan="3">
          <center>
            <a class="impressum" href="http://domain.invalid/">
              Impressum
            </a>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
{% endblock %}