{% extends "index.html" %}
{% block head %}
<html xmlns="http://www.w3.org/1999/html">
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}VHS Kassetten digitalisieren</title>

  </head>
  {% endblock %}
  {% block header %}
  <body>
    <table width="100%">

      <tr>
        <td width="50px">
          <img  src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="Kibuso" width="50" height="50"/>
        </td>
        <td>
            <a class="ui" href="{{ url_for('index') }}">
              Home
            </a>
        </td>
        <td style="text-align:right;">
        </td>
      </tr>
      {% endblock %}
      {% block content %}
      <tr height="70px">
        <td>

        </td>
      </tr>
      <tr>
        <td colspan="3">
          <center>
          {% from "_formhelpers.html" import render_field %}
            <form method=post>
              <dl>
              <table>
                  {{ render_field(form.email) }}
                  {{ render_field(form.password) }}
                <tr>
                  <td colspan="2">

                  </td>
                </tr>
              </table>
              </dl>
              <p>
                <input type=submit class="submit" value="Log in">
              </p>
            </form>
          </center>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <center>
            <a class="agbs" href="{{ url_for('register') }}">Registrieren</a>
          </center>
        </td>
      </tr>
      <tr height="300px">
        <td>

        </td>
      </tr>
      {% endblock %}