{% extends "index.html" %}
      {% block content %}
      <tr>
        <td>

        </td>
      </tr>
      <tr>
        <td colspan="3">
          <center>
          {% from "_formhelpers.html" import render_field %}
            <form method=post>
              <dl>
              <table>
                  {{ render_field(form.email) }}
                  {{ render_field(form.password) }}
                  {{ render_field(form.firstname) }}
                  {{ render_field(form.lastname) }}
                  {{ render_field(form.street) }}
                  {{ render_field(form.housenumber) }}
                  {{ render_field(form.addresshint) }}
                  {{ render_field(form.zip) }}
                  {{ render_field(form.city) }}
                  {{ render_field(form.accept_tos) }}
                <tr>
                  <td colspan="2">
                      <center>
                          <a class="agbs" href="#">AGBs:Allgemeine Geschäftsbedingungen</a>
                      </center>
                  </td>
                </tr>
              </table>
              </dl>
              <p>
                <input type=submit class="submit" value=Registrieren>
              </p>
            </form>
          </center>
        </td>
      </tr>
      <tr height="70px">
        <td>

        </td>
      </tr>
      {% endblock %}